/* Home Page Text - Bookman Old Style Regular
Drink Titles(gold) - Advertising Script Bold - leave 2 spaces in the beginning
Cocktails Text - Bookman Old Style Regular */

/* Gold Color = #f5e880 */

/* * {
    border: 1px dotted gold;
} */

@font-face {
    font-family: 'advertising_scriptbold';
    src: url('../fonts/advertisingscript-bold-webfont.woff2') format('woff2'),
         url('../fonts/advertisingscript-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
    font-family: 'bookman_old_style', 'helvetica', serif;
    background-color: black;
    overflow-x: hidden!important;
}

h1, h4, h5, h6 {
    font-family: 'Bookman Old Style', 'helvetica', serif;
    font-weight: normal;
    font-style: normal;
}

.video-heading{
  font-size: 4em;
}


#landing-name {
    font-family: 'advertising_scriptbold';
    font-weight: normal;
    font-style: normal;
}

a {
    color: white;
    font-family: 'Bookman Old Style', 'helvetica', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
}

a:hover {
    color: white;
}

.links-artist {
  font-size: .75em;
}


#bg-static{
    background-image: url("../images/bg_static_chs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-attachment: fixed;
}

.masthead {
  height: 100vh;
  width: 100%;
  background-image: url('../images/bg_landingpage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header-cocktail {
  background-color: black;
}

.btn-gold {
    width: 40%;
    background-color: #f5e880;
    color:black;
    border: 1px solid black;
}

.btn-gold:hover {
    width: 40%;
    background-color: #fafcc6;
    color:black;
}

.text-heading {
    font-size: 5em;
}

.text-book{
    color: white;
    font-family: 'Bookman Old Style', 'helvetica', serif;
    font-weight: normal;
    font-style: normal;
}

.text-artist{
  font-size: .75em;
}

.text-book-black{
    color: black;
    font-family: 'Bookman Old Style', 'helvetica', serif;
    font-weight: normal;
    font-style: normal;
}

.text-grey-em {
    font-family: 'advertising_scriptbold';
    color: grey;
    font-size: 1.75em;
}

.font-adv-bold{
    font-family: 'advertising_scriptbold';
    color: #f5e880;
}

.headings{
  text-shadow: 2px 2px black;
  margin-top: 2em;
  overflow-x: hidden;
  overflow-y: visible;
}

#flavors{
  text-shadow: 2px 2px black;
  margin-top: 1em;
}

.no-margin{
  margin: 0px;
}

.cocktail, .video {
  background-color: black;
  color: white;
}

#bottles{
    width: 100%;
    height: auto;
    background-image: url('../images/bg_bottles.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.modal-body {
  background-color: #057d02;
  border: .5em solid white;
}

.square-white {
  background-color: white;
}

.green-outline{
  background-color: white;
  border: .2em solid #057d02;
}

iframe {
  border: 6px solid #50150d;
}

.card-artist {
  background-color: black;
}

.img-artist {
  border: 4px solid white;
}

#paolo {
  font-size: 2vw;
}

#where {
  width: 100%;
  height: auto;
  background-image: url('../images/bg_where.jpg');
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact{
    width: 100%;
    height: auto;
    background-image: url('../images/bg_contact.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow-x: hidden;
}

#contact-back{
  background-color: rgba(255,255,255,0.75);	
}

#contact-area{
  position: relative;
}

#form_container{
  position: absolute;
  top: 3.5rem;
  left:5.5rem;
  width: 25rem;
  height: 29rem;
  padding:15px 15px;
	margin-top:15px;
	background: rgba(255,255,255,0.75);	
}

#form_container_mobile{
  display: none;
  padding:15px 15px;
	margin-top:15px;
	background: rgba(255,255,255,0.75);	
}

#hand{
  position: relative;
  z-index: 2;
  left: -30px;
}

/***** Wiggle *****/

.wiggle:hover{ 
  animation: wiggle 400ms infinite;
  animation-timing-function: linear;   
}

@keyframes wiggle {
  0% { transform: translate(2px, 0); }
  50% { transform: translate(-2px, 0); }
  100% { transform: translate(2px, 0); }
}

#contact-area{
  margin: 0px;
}

/***** Shake *****/

.shake:hover{ 
  animation: shake 350ms infinite;
  animation-timing-function: linear;   
}

@keyframes shake {
  0% { transform: rotate(0.5deg); }
  50% { transform: rotate(-0.5deg); }
  100% { transform: rotate(0.5deg); }
}

/***** Pulse *****/

.pulse:hover{ 
  animation: pulse .75s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);}
  100% { transform: scale(1); }
}

/***** Zoom *****/

.zoom:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

@media only screen and (max-width: 768px) {
  #paolo {
  font-size: 4vw;
}

  body {
    overflow-x: hidden!important;
}


}

@media only screen and (max-width: 480px) {
  #paolo {
  font-size: 8vw;
}
  body {
    overflow-x: hidden!important;
}
#hand {
  visibility: hidden;
}

#form_container{
  visibility: hidden;
}

#form_container_mobile{
  display: block;
  visibility: visible;
  padding:15px 15px;
	margin-top:15px;
	background: rgba(255,255,255,0.75);	
}
  
}




